
{% extends "layout/defaultBeer.twig" %}

<h1 class="titreduhaut">Nos Produits</h1>


{% block title %}{{ title }}{% endblock %}


{% block content %}
<section class="row">
    {% for beer in beers %}
    {{  include("beer/card.twig") }}
    {% endfor %}
</section>
{{ paginate | raw }}
{% endblock %}