{% extends "layout/defaultBeer.twig" %}

{% block title %}{{ title }}{% endblock %}


{% block content %}
<section class="row">
    {% for beer in beers %}
    {{  include("beer/card.twig") }}
    {% endfor %}
</section>
{{ paginate | raw }}
{% endblock %}