<article class="col-3 mb-4 d-flex align-items-stretch">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ beer.name }}</h5>
            <p class="card-text">{{ beer.getExcerpt(100) | raw }}</p>
            <a class="card-link" href="{{ beer.url }}">Lire plus</a>

        </div>
        <ul class="list-group list-group-flush ">
        </ul>
        <div class="card-footer text-muted">
        </div>
    </div>
</article>