{% extends "layout/default.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <section class="row">
        {{  include("mentions/card.twig") }}
        <!--Ce site est destiné uniquement à but d'apprentissage -->
    </section>
    {{ paginate | raw }}
{% endblock %}

