{% extends "layout/default.twig" %}

{% block title %}{{ title }}{% endblock %}


{% block content %}
<section class="row">
    {% for user in users %}
    {{  include("user/card.twig") }}
    {% endfor %}
</section>
{{ paginate | raw }}
{% endblock %}