{% extends "layout/default.twig" %}

{% block content %}
    <section class="login-container">
        <div>
            <h2>Inscription</h2>
            </header>
            <form action="./index.php" method="Post" onsubmit="{{ users.createUser() }}">
                <input type="text" name="name" placeholder="Nom" required>
                <input type="text" name="firstname" placeholder="Prénom">
                <input type="email" name="email" placeholder="E-mail" required>
                <input type="password" name="password" placeholder="Mot de Passe">
                <input type="text" name="address" placeholder="Adresse">
                <input type="text" name="zipCode" placeholder="Code Postal">
                <input type="text" name="phone" placeholder="Téléphone">
                <input type="text" name="city" placeholder="Ville">
                <input type="text" name="country" placeholder="Pays">
                <button type="submit" >S'inscrire</button>
            </form>
        </div>
    </section>
{% endblock %}